<mtapp:setting id="requires_login" label="Requires Login?" hint="Plese set a 1 or 0" show_hint=1>
    <input type="text" name="requires_login" id="requires_login" value="<mt:var name='requires_login' />" />
</mtapp:setting>
