<mtapp:setting id="requires_login" label="Requires Login?" hint="Yes or No" show_hint=1>
    <select name="requires_login" id="requires_login">
      <option value="1"<mt:if name='requires_login' eq='1'> selected="selected"</mt:if>>Yes</option>
      <option value="0"<mt:if name='requires_login' eq='0'> selected="selected"</mt:if>>No</option>
    </select>
</mtapp:setting>
