<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>MTPodViewer</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans" />
    <link rel="stylesheet" href="<mt:var name='app_static_path' />/bootstrap-2.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="<mt:var name='app_static_path' />/css/style.css" />
    <script src="<mt:var name='app_static_path' />/jquery-1.8.2/jquery.min.js"></script>
    <script>var script_path = "<mt:var name='app_path'>/<mt:var name='script' />";</script>
    <script src="<mt:var name='app_static_path' />/bootstrap-2.1.1/js/bootstrap.min.js"></script>
    <script src="<mt:var name='app_static_path' />/js/mtpodviewer.js"></script>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">MTPodViewer</a>
          <form class="navbar-form pull-right">
            <input id="search-text" type="text" class="span4" placeholder="app-cms" data-provide="typeahead" data-items="25" data-source='<mt:var name="data_source" />' autocomplete="off" />
            <button type="submit" class="btn" id="search-btn">Search</button>
          </form>
        </div>
      </div>
    </div>
    <div id="pod-contents" class="container">
      <div class="row">
        <div class="span12">
          <mt:var name="html" />
        </div>
      </div>
    </div>
  </body>
</html>
